{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% include 'base.html' %}
{% extends "bootstrap/base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/homepage.css" type="text/css">

<link rel='stylesheet' id='main-css-css' href='../static/css_b/main_index.css' type='text/css' media='all' />
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css_b/follow.css" type="text/css">
<link rel="stylesheet" href="../static/css_userinfo/userinfo.css" type="text/css">
<link rel="stylesheet" href="../static/css/post.css" type="text/css">




<div class="contain flash" >
	{% for message in get_flashed_messages() %}
	<div class="alert alert-info">
    <button type="button" class="closeU xxx" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">Close</span>
  </button>

        <strong>{{ message }}</strong>
</div>
{% endfor %}
	</div>

<!--<div class="avatar">-->
<!--	 <img src="../static/img/logo.jpeg" alt="">-->
<!--</div>-->

<br>

<img class="avatarPost avatarList plus" src="../static/img/one.jpeg" style="z-index: -10" >


{% if 1==1 %}
<img class="avatarPost avatarList" src="{{ user.real_avatar }}" >
{% endif %}


<div class="username">
        <span class="name">{{ user.username }}</span>
	<span class="userKey">
		<span class="userName">User KeyWords:</span>
		{% for userKey in userKeys %}
		{{userKey}}
		{% endfor %}
	</span>
		<div class="foll">
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('.follow', username=user.username) }}" class="follBtn">Follow</a>
                {% else %}
			<a href="{{ url_for('.unfollow', username=user.username) }}" class="follBtn unfollow"><label class="fontColor">Unfollow</label></a>
                {% endif %}
            {% endif %}
		</div>

            <br><a href="{{ url_for('.followers', username=user.username) }}" class="position"><font style="font-family:'Arial Rounded MT Bold', 'Arial', sans-serif; font-size: 20px; color: #2081fc">Followers:</font> <span class="badge">{{ user.followers.count() }}</span></a>
	<br><a href="{{ url_for('.followed_by', username=user.username) }}" class="position two"><font style="font-family:'Arial Rounded MT Bold', 'Arial', sans-serif; font-size: 20px; color: #2081fc">Following:</font> <span class="badge">{{ user.followed.count() }}</span></a>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
	<br> <span class="label label-default po">Follows you</span>
            {% endif %}
</div>


<br>
<br>
<br>
<br>
<div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                            <div class="page-section" id="projects_New">
                    <div class="row">
						<ul class="posts">
						{% for post in posts %}
						<div class="col-md-12 main-listing">
							<article class="format-standard type-post hentry clearfix">
								<header class="clearfix">
									<h3 class="post-title">
										<a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a>
									</h3>
									<div class="post-meta clearfix">
											<span class="date">{{ post.moment }}</span>
											<span class="category">
												<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
											</span>
									</div><!-- end of post meta -->
								</header>
								<div class="post-body">{{ post.body }}</div>
							</article>

							<div class="post-footer">
                            {% if current_user == post.author %}
                                <a href="{{ url_for('.edit', id=post.id) }}">
                                        <input class="submit_two sub_one" name="submit" type="submit" value="Edit">

<!--                                <span class="submit_one sub_one">Edit</span>-->
                                </a>
                            {% elif current_user.is_administrator() %}
                                <a href="{{ url_for('.edit', id=post.id) }}">
                                    <span class="label label-danger">Edit [Admin]</span>
                                </a>
                                {% endif %}
                            </div>
						</div>
						{% endfor %}
						</ul>

					</div>
												 <div class="pagination">
													 {% for post in posts|sort(attribute='author_id', reverse=false) %}
														{% if loop.first %}
                                                    {{ macros.pagination_widget(pagination, '.user', username=post.author.username) }}
                                                	{% endif %}
												 </div>
												{% endfor %}
											</div>
										</div>
								</div>
						</div>
	</div>

{% endblock %}
